<H1 class = "animate__animated animate__flipInX" style="font-family: Britannic, sans-serif;">Sobre mí ...</H1>
<h1 style="font-family: Britannic, sans-serif;" class = "animate__animated animate__flipInX">Camilly Yuliana Pacheco Ordoñez</h1>
<div class = "animate__animated animate__flipInX" style="display: flex; justify-content: center; align-items: center; ">
    <img src="assets\img\Yo.jpeg" class="img-thumbnail" alt="..." style="width: 200px; height: 200px;">
</div>
<div class = "animate__animated animate__flipInX" class="p-3 mb-2 bg-info text-black">
<p class = "animate__animated animate__flipInX" style="text-align: justify;">Hola, soy Camilly, tengo 20 años y vivo en Machala. Estudio ingeniería en 
    tecnologías de la información. Me encanta aprender sobre cómo funciona la 
    tecnología y cómo puedo usarla para hacer cosas increíbles. En mi tiempo libre, 
    me gusta leer, escuchar música y salir a explorar nuevos lugares. Estoy emocionada 
    por lo que el futuro me depara y estoy trabajando duro para alcanzar mis metas. 
    ¡La vida es emocionante y estoy lista para aprovechar al máximo cada momento!</p>
<p class = "animate__animated animate__flipInX" style="text-align: justify;">Mi día a día está lleno de desafíos y aprendizajes. 
    Desde clases teóricas hasta sesiones prácticas, estoy constantemente descubriendo
     nuevas formas de aplicar mis conocimientos en el mundo digital en constante evolución. 
     Aunque a veces puede ser abrumador, me llena de emoción saber que cada paso que doy me acerca 
     un poco más a convertir mis sueños en realidad.</p>
<p class = "animate__animated animate__flipInX" style="text-align: justify;">Además de mis intereses académicos y personales, 
    también estoy emocionada por las oportunidades que el futuro me depara. Estoy
     decidida a aprovechar al máximo mi tiempo en la universidad y a seguir creciendo 
     tanto personal como profesionalmente.</p>
</div>
